body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: monospace, roboto, sans-serif;
}

button {
    font-family: inherit;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    gap: 32px;
}

.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    padding: 48px 144px;
}

.hero-text {
    font-size: 18px;
    color: #E5E7EB;
    width: 400px;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.hero-title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-text button {
    color: #F9FAF8;
    background-color: #3882F6;
    border: 0 solid;
    border-radius: 5px;
    padding: 6px 12px;
}

.hero-image {
    color: #E5E7EB;
    background-color: rgb(120, 120, 120);
    min-width: 300px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    text-align: center;
}

.random-information {
    background-color: #F9FAF8;;
    display: flex;
    flex-direction: column;
}

.random-information-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
}

.card-container {
    display: flex;
    justify-content: center;
    padding: 48px;
    gap: 24px;
}

.card {
    width: 170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.card-image {
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 8px;
}

.card p {
    color: #1F2937;
    width: 160px;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote figure {
    font-size: 36px;
    color: #1F2937;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.quote figure figcaption {
    font-weight: 700;
    margin-left: auto;
}

.bottom-information {
    background-color: #F9FAF8;
    display: flex;
    justify-content: center;
}

.sign-up-card {
    background-color: #3882F6;
    width: 700px;
    padding: 24px;
    margin: 48px;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.right-part {
    color: #F9FAF8;
    width: 500px;
}

.right-part h3 {
    margin: 0;
}

.sign-up-card button {
    color: #F9FAF8;
    background-color: #3882F6;
    border: 2px solid #F9FAF8;
    border-radius: 5px;
    padding: 6px 12px;
}

footer {
    background-color: #1F2937;
    color: #F9FAF8;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}